* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
body div {
    display: flex;
    align-items: center;
    margin: 0px 20px;
    position: relative;
    padding: 40px;
    
    line-height: 22px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1PX solid rgba(0, 0, 0, 0.1);
    outline: none;
    background-color: white;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}
body div ion-icon {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
input {
    font-size: 16px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none   ;
}
button {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}